{
  "baseUrl": "http://localhost:8080",
  "trashAssetsBeforeRuns": true,
  "video": true,
  "projectId": "PID",
  "defaultCommandTimeout" : 10000,
  "responseTimeout": 10000,
  "requestTimeout": 10000,
  "integrationFolder": "cypress/integration/core",
  "retries": {
    "runMode": 2,
    "openMode": 0
  }
}