{
  "users": {
    "admin": {
      "user": "test_admin",
      "pass": "Testing123"
    },
    "standard": {
      "user": "test_user",
      "pass": "Testing123"
    },
    "standard2": {
      "user": "test_user2",
      "pass": "Testing123"
    }
  },
  "redcap_version": "9.1.3",
  "redcap_hooks_path": "/var/www/html/hook_functions.php",
  "redcap_source_path": "./www",
  "temp_folder": "/path/to/www/temp",
  "mysql": {
    "host": "127.0.0.1",
    "path": "mysql",
    "port": "3400",
    "db_name": "redcap",
    "db_user": "root",
    "db_pass": "root"
  },
  "bootstrap_settings": {
    "core": true,
    "hooks": false,
    "modules": false,
    "plugins": false,
    "projects" : false
  }
}