{
  "users": {
    "admin": {
      "user": "test_admin",
      "pass": "Testing123"
    },
    "standard": {
      "user": "test_user",
      "pass": "Testing123"
    }
  },
  "redcap_version": "9.1.0",
  "mysql": {
    "host": "127.0.0.1",
    "path": "mysql",
    "port": "3400",
    "db_name": "redcap3",
    "db_user": "root",
    "db_pass": "root"
  }
}