orbs:
  codecov: codecov/codecov@4.0.1

workflows:
  version: 2
  workflows:
      jobs:
        - run-tests:
            context: REDCap Tests
        - rerun-failed-tests:
            context: REDCap Tests
            requires:
              - run-tests
        - html-reports:
            context: HTML Reports
            requires:
              - run-tests

jobs:
  run-tests:
    machine:
      image: ubuntu-2404:2024.05.1 # Machine image updates: https://circleci.com/developer/machine/image/ubuntu-2404
      resource_class: large
    parallelism: 26
    steps:
      - checkout
      - run:
          name: Install MySQL Client
          command: |
            sudo apt-get update
            sudo apt-get install mysql-client-core-8.0
      - run:
          name: Build the REDCap Image
          command: |
            git clone --branch xdebug https://github.com/aldefouw/redcap_docker
      - run:
          name: Get REDCap Source
          command: |
            git clone --branch redcap-cypress https://github.com/aldefouw/redcap_source
      - run:
          name: Start Docker REDCap Container
          command: |
            cd /home/circleci/project/redcap_docker
            docker-compose up -d
      - run:
          name: Install composer dependencies
          command: |
            docker exec -it redcap_docker-app-1 sh -c "cd /var/www/html/redcap_v13.1.37 && COMPOSER_DISABLE_XDEBUG_WARN=1 composer install"
      - run:
          name: Reload REDCap
          command: |
            cd /home/circleci/project/redcap_docker
            docker-compose down && docker-compose up -d
      - run:
          name: Permissions on coverage files
          command: |
            docker exec -it redcap_docker-app-1 sh -c "chmod 777 /tmp/path/coverage"
      - run:
          name: Change eDocs & Temp folder permissions
          command: |
            sudo chmod 777 /home/circleci/project/edocs
            sudo chmod 777 /home/circleci/project/tmp
      - run:
          name: Configure Cypress environment
          command: |
            cd /home/circleci/project
            sed s/PID/$PROJECT_ID/g cypress.config.js.example > cypress.config.js
            mv cypress.env.json.example cypress.env.json
      - run:
          name: Install Cypress
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm use stable
            npm run redcap_rsvc:install
      - run:
          name: Run Tests
          no_output_timeout: 20m
          command: |
            npx cypress run --record --key $RECORD_KEY --parallel --group core-tests --browser chrome --reporter mochawesome --reporter-options reportDir=cypress/results,overwrite=false,html=false,json=true
      - run:
          name: Save Failed Specs
          command: |
            node scripts/track-failed-specs.js write
      - persist_to_workspace:
          root: .
          paths:
            - failed_specs.json
            - cypress/results

  rerun-failed-tests:
    machine:
      image: ubuntu-2404:2024.05.1 # Machine image updates: https://circleci.com/developer/machine/image/ubuntu-2404
      resource_class: large
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Rerun Failed Tests
          command: |
            FAILED_SPECS=$(node scripts/track-failed-specs.js read)
            if [ -n "$FAILED_SPECS" ]; then
              npx cypress run --record --key $RECORD_KEY --parallel --group retry-tests --browser chrome --spec $FAILED_SPECS
            fi
      - run:
          name: Save Final Results
          command: |
            node scripts/track-failed-specs.js write
      - persist_to_workspace:
          root: .
          paths:
            - coverage-report
            - coverage

  html-reports:
    machine:
      image: ubuntu-2204:2024.01.2 # Machine image updates: https://circleci.com/developer/machine/image/ubuntu-2204
      resource_class: large
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/project/coverage
      - run:
          name: Build the REDCap Image
          command: |
            cd /home/circleci/project/
            git clone --branch xdebug https://github.com/aldefouw/redcap_docker
      - run:
          name: Get REDCap Source
          command: |
            cd /home/circleci/project/
            git clone --branch redcap-cypress https://github.com/aldefouw/redcap_source
      - run:
          name: Start Docker REDCap Container
          command: |
            cd /home/circleci/project/redcap_docker
            docker-compose up -d
      - run:
          name: Coverage Report
          command: |
            docker exec -i redcap_docker-app-1 php /var/www/html/phpcov.phar merge --html /tmp/path/coverage-report/html-report /tmp/path/coverage
      - run:
          name: Push to Repository
          command: |
            sudo zip -r /home/circleci/project/redcap_source/html-report.zip  /home/circleci/project/coverage-report/html-report/*
            cd /home/circleci/project/redcap_source
            git add html-report.zip
            git commit -m "Add latest HTML Report"
            git push origin redcap-cypress
      - persist_to_workspace:
          root: .
          paths:
            - coverage-report