orbs:
  codecov: codecov/codecov@4.0.1

workflows:
  version: 2
  workflows:
    jobs:
      - run-tests:
          context: REDCap Tests
      - html-reports:
          context: HTML Reports
          requires:
            - run-tests
            
jobs:
  run-tests:
    machine:
      image: ubuntu-2404:2024.05.1 # Machine image updates: https://circleci.com/developer/machine/image/ubuntu-2404
      resource_class: large
    parallelism: 28
    environment:
      REDCAP_VERSION: "13.7.15"    
    steps:
      - checkout
      - run:
          name: Install MySQL Client
          command: |
            sudo apt-get update
            sudo apt-get install mysql-client-core-8.0
      - run:
          name: Build the REDCap Image
          command: |
            git clone --branch xdebug https://github.com/aldefouw/redcap_docker
      - run:
          name: Get REDCap Source
          command: |
            git clone --branch redcap-cypress https://github.com/aldefouw/redcap_source
      - run:
          name: Start Docker REDCap Container
          command: |
            cd /home/circleci/project/redcap_docker
            docker-compose up -d
      - run:
          name: Install composer dependencies
          command: |
            docker exec -it redcap_docker-app-1 sh -c "cd /var/www/html/redcap_v${REDCAP_VERSION} && COMPOSER_DISABLE_XDEBUG_WARN=1 composer install"
      - run:
          name: Reload REDCap
          command: |
            cd /home/circleci/project/redcap_docker
            docker-compose down && docker-compose up -d
      - run:
          name: Permissions on coverage files
          command: |
            docker exec -it redcap_docker-app-1 sh -c "chmod 777 /tmp/path/coverage"
      - run:
          name: Change eDocs & Temp folder permissions
          command: |
            sudo chmod 777 /home/circleci/project/edocs
            sudo chmod 777 /home/circleci/project/tmp
      - run:
          name: Configure Cypress environment
          command: |
            cd /home/circleci/project
            sed s/PID/$PROJECT_ID/g cypress.config.js.example > cypress.config.js
            mv cypress.env.json.example cypress.env.json

      - run:
          name: Install Cypress
          command: |
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm use stable
            npm run redcap_rsvc:install
      - run:
          name: Run Tests
          command: |
            CYPRESS_prettyEnabled=true npx cypress run --record --key $RECORD_KEY --parallel --group core-tests --browser chrome
#           npx cypress run --record --key $RECORD_KEY --parallel --group core-tests --browser chrome
#           npx cypress run --record --key $RECORD_KEY --parallel --group core-tests --browser chrome --spec redcap_rsvc/Feature\ Tests/C/File\ Repository/C.3.26.200\ -\ View\ Access\ \&\ User\ Rights.feature

      - run:
          name: Coverage Report
          command: |
            docker exec -i redcap_docker-app-1 php /var/www/html/phpcov.phar merge --clover /tmp/path/coverage-report/merged-coverage-${CIRCLE_NODE_INDEX}.xml /tmp/path/coverage
      - run:
          name: Debug Workspace Contents
          command: ls -l /home/circleci/project/coverage-report
      - persist_to_workspace:
          root: .
          paths:
            - coverage-report
            - coverage

  html-reports:
    machine:
      image: ubuntu-2204:2024.01.2 # Machine image updates: https://circleci.com/developer/machine/image/ubuntu-2204
      resource_class: large
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci/project/coverage
      - run:
          name: Build the REDCap Image
          command: |
            cd /home/circleci/project/
            git clone --branch xdebug https://github.com/aldefouw/redcap_docker
      - run:
          name: Get REDCap Source
          command: |
            cd /home/circleci/project/
            git clone --branch redcap-cypress https://github.com/aldefouw/redcap_source
      - run:
          name: Start Docker REDCap Container
          command: |
            cd /home/circleci/project/redcap_docker
            docker-compose up -d
      - run:
          name: Coverage Report
          command: |
            docker exec -i redcap_docker-app-1 php /var/www/html/phpcov.phar merge --html /tmp/path/coverage-report/html-report /tmp/path/coverage
      - run:
          name: Push to Repository
          command: |
            sudo zip -r /home/circleci/project/redcap_source/html-report.zip  /home/circleci/project/coverage-report/html-report/*
            cd /home/circleci/project/redcap_source
            git add html-report.zip
            git commit -m "Add latest HTML Report"
            git push origin redcap-cypress
      - persist_to_workspace:
          root: .
          paths:
            - coverage-report
